.ircweb2 {
    font: 11px Tahoma, Helvetica, sans-serif;
}

.ircweb2 .ircMain {
    padding: 12px 16px;
    width: 740px;
    height: 360px;
}

.ircweb2 .ircChannel {
    overflow: auto;
    font: 12px Tahoma, Helvetica, sans-serif;
    white-space: pre-wrap;
}

.ircweb2 .commandBar {
    padding-bottom: 3px;
    white-space: normal;
}

.ircweb2 .commandBar button {
    /* Chrome has default top/bottom margins on buttons, others do not. */
    margin-top: 0;
    margin-bottom: 0;
}

.ircweb2 .activationIndicator {
    width: 16px;
    height: 16px;
    padding-right: 3px;
    display: block;
    float: left;
}

.ircweb2.activated .activationIndicator {
    background: transparent url(bullet_green.png) no-repeat top left;
}

.ircweb2.deactivated .activationIndicator {
    background: transparent url(stop.png) no-repeat top left;
}

.ircweb2 .userEntrySection {
    padding: 3px 16px;
    white-space: nowrap;
}

.ircweb2 .userEntryModeLine {
    height: 20px;
}

.ircweb2 .nickLabel {
    overflow: hidden;
}

.ircweb2 .userEntry {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #666;
    color: white;
    padding: 3px;
}

.ircweb2 .channel {
    color: #c0c090;
    font-weight: bold;
}

.ircweb2 .channel:hover {
    color: #909060;
    cursor: pointer;
}

.ircweb2 .nick {
    color: white;
}

.ircweb2 .nick:hover {
    color: #cfcfcf;
    cursor: pointer;
}

.ircweb2 .mode {
    color: #F58400;
}

.ircweb2 .sideBar {
    float: left;
    width: 140px;
    padding: 12px 16px;
}

.ircweb2 .sideBar .channelList {
    overflow: auto;
    white-space: nowrap;
}

.ircweb2 .sideBar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    clear: both;
}

.ircweb2 .sideBar ul.channelList > li {
    padding-bottom: 6px;
}

.ircweb2 .sideBar ul.channelList > li .channel {
    float: left;
}

.ircweb2 .sideBar .channelList .leaveButton {
    float: left;
    width: 16px;
    height: 16px;
    background: transparent url(bullet_delete.png) no-repeat top left;
    cursor: pointer;
    margin-left: 6px;
}

.ircweb2 .sideBar .channelList .leaveButton:hover {
    background-color: #3f3f3f;
}

.ircweb2 .sideBar ul.memberList {
    padding-left: 16px;
}

.ircweb2 .sideBar ul.memberList .mode {
    padding-right: 3px;
}

.ircweb2 .ircChannel {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3px;
    margin: -3px;
}

/* Console line styles */
.ircweb2 .ircChannel .line {
    clear: both;
    padding: 0 0 0 50px;
    text-indent: -50px;
    word-wrap: break-word;
    padding-bottom: 0.1em;
}

.ircweb2 .ircChannel .timestamp {
    color: #d0d0d0;
    display: block;
    float: left;
    width: 50px;
}

.ircweb2 .ircChannel .line {
    color: #dfdfdf;
}

.ircweb2 .ircChannel .prefix {
    font-weight: bold;
}

.ircweb2 .ircChannel .help {
    color: #00cfcf;
}

.ircweb2 .ircChannel .privateMsg,
.ircweb2 .ircChannel .privateNotice {
    background-color: #202010;
    font-weight: bold;
}

.ircweb2 .ircChannel .privateMsg .prefix,
.ircweb2 .ircChannel .privateNotice .prefix {
    color: #FFAF0F;
}

.ircweb2 .ircChannel .nickHighlight .nick {
    color: #F58400;
}

.ircweb2 .ircChannel .nickHighlight .message {
    color: #FFAF0F;
    padding-right: 3px;
}

.ircweb2 .ircChannel .ERROR .message {
    color: #cf3f3f;
}

.ircweb2 .ircChannel .serverMsg .message {
    font-family: monospace;
}

.ircweb2 .ircChannel .clientMsg .message,
.ircweb2 .ircChannel .queryMsg .message
 {
    font-style: italic;
    color: white;
}

.ircweb2 .ircChannel .MODE .modeString {
    font-family: monospace;
}
