BODY {
    padding: 6px;
    margin: 0;
    overflow: hidden;
}

.chatmore {
    font: 14px Tahoma, Helvetica, sans-serif;
    white-space: nowrap;
}

.chatmore .ircConsole {
    padding: 12px 16px;
    width: 740px;
    height: 360px;
}

.chatmore .ircConsole .content {
    overflow: auto;
    font: 1.1em Tahoma, Helvetica, sans-serif;
    white-space: pre-wrap;
}

.chatmore .activationIndicator {
    width: 16px;
    height: 16px;
    padding-right: 3px;
    display: block;
    float: left;
}

.chatmore.activated .activationIndicator {
    background: transparent url(images/bullet_green.png) no-repeat top left;
}

.chatmore.deactivated .activationIndicator {
    background: transparent url(images/stop.png) no-repeat top left;
}

.chatmore .userEntrySection {
    padding: 3px 16px;
    white-space: nowrap;
}

.chatmore .userEntryModeLine {
    height: 20px;
}

.chatmore .nickLabel {
    overflow: hidden;
}

.chatmore .userEntry {
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #666;
    color: white;
    padding: 3px;
}

.chatmore .channel {
    color: #c0c090;
    font-weight: bold;
}

.chatmore .channel:hover {
    color: #909060;
    cursor: pointer;
}

.chatmore .nick {
    color: white;
}

.chatmore .nick:hover {
    color: #cfcfcf;
    cursor: pointer;
}

.chatmore .mode {
    color: #F58400;
}

.chatmore .sideBar {
    /*float: left;*/
    display: inline-block;
    width: 140px;
    padding: 12px 16px;
}

.chatmore .sideBar .channelList {
    overflow: auto;
    white-space: nowrap;
}

.chatmore .sideBar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    clear: both;
}

.chatmore .sideBar ul.channelList > li {
    padding-bottom: 6px;
}

.chatmore .sideBar ul.channelList > li .channel {
    float: left;
}

.chatmore .sideBar .channelList .leaveButton {
    float: left;
    width: 16px;
    height: 16px;
    background: transparent url(images/bullet_delete.png) no-repeat top left;
    cursor: pointer;
    margin-left: 6px;
}

.chatmore .sideBar .channelList .leaveButton:hover {
    background-color: #3f3f3f;
}

.chatmore .sideBar ul.memberList {
    padding-left: 16px;
}

.chatmore .sideBar ul.memberList .mode {
    padding-right: 3px;
}

.chatmore .ircConsole .content {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 3px;
    margin: -3px;
}

/* Console line styles */
.chatmore .ircConsole .content .line {
    clear: both;
    padding: 0 0 0 50px;
    text-indent: -50px;
    word-wrap: break-word;
    padding-bottom: 0.1em;
}

.chatmore .ircConsole .content .timestamp {
    color: #d0d0d0;
    display: block;
    float: left;
    width: 55px;
}

.chatmore .ircConsole .content .line {
    color: #dfdfdf;
}

.chatmore .ircConsole .content .prefix {
    font-weight: bold;
}

.chatmore .ircConsole .content .help {
    color: #00cfcf;
}

.chatmore .ircConsole .content .privateMsg,
.chatmore .ircConsole .content .privateNotice {
    background-color: #202010;
    font-weight: bold;
}

.chatmore .ircConsole .content .privateMsg .prefix,
.chatmore .ircConsole .content .privateNotice .prefix {
    color: #FFAF0F;
}

.chatmore .ircConsole .content .nickHighlight .nick {
    color: #F58400;
}

.chatmore .ircConsole .content .nickHighlight .message {
    color: #FFAF0F;
    padding-right: 3px;
}

.chatmore .ircConsole .content .ERROR .message {
    color: #cf3f3f;
}

.chatmore .ircConsole .content .serverMsg .message {
    font-family: monospace;
}

.chatmore .ircConsole .content .clientMsg .message,
.chatmore .ircConsole .content .queryMsg .message
 {
    font-style: italic;
    color: white;
}

.chatmore .ircConsole .content .MODE .modeString {
    font-family: monospace;
}
