/*
 * Chatmore
 */
.chatmore.-fullpage-layout {
    font: 14px Verdana, sans-serif;
    white-space: nowrap;
}

.chatmore.-fullpage-layout .ircConsole {
    padding: 12px 16px;
    width: 740px;
    height: 360px;
}

.chatmore.-fullpage-layout .ircConsole .content {
    overflow: auto;
    font-size: 1.1em;
    color: black;
    background-color: #f8f8f8;
    white-space: pre-wrap;
}

.chatmore.-fullpage-layout .ircConsole .content a:link,
.chatmore.-fullpage-layout .ircConsole .content a:hover {
    color: #0000EE;
}

.chatmore.-fullpage-layout .ircConsole .content a:active {
    color: #EE0000;
}

.chatmore.-fullpage-layout .ircConsole .content a:visited {
    color: #551A8B;
}

.chatmore.-fullpage-layout .ircConsole .content a:hover {
    box-shadow: 0 0 10px #909090;
}

.chatmore.-fullpage-layout .activationIndicator {
    width: 16px;
    height: 16px;
    padding-right: 3px;
    display: block;
    float: left;
}

.chatmore.activated .activationIndicator {
    background: transparent url(images/bullet_green.png) no-repeat left top;
}

.chatmore.deactivated .activationIndicator {
    background: transparent url(images/stop.png) no-repeat left top;
}

.chatmore.-fullpage-layout .userEntrySection {
    padding: 3px 16px;
    white-space: nowrap;
}

.chatmore.-fullpage-layout .userEntryModeLine {
    height: 20px;
}

.chatmore.-fullpage-layout .userEntryModeLine .nickLabel {
    overflow: hidden;
    display: block;
    float: left;
}

.chatmore.-fullpage-layout .userEntryModeLine .targetLabel {
    display: block;
    float: left;
    padding-left: 19px;
    margin: 0 3px;
    background: transparent url(images/bullet_go.png) no-repeat left center;
}

.chatmore.-fullpage-layout .userEntryLine {
    clear: both;
}

.chatmore.-fullpage-layout .userEntry {
    background-color: #f8f8f8;
    border: 1px solid #666;
    color: black;
    padding: 3px;
}

.chatmore.-fullpage-layout .ui-tooltip {
    overflow: hidden;
}

.chatmore.-fullpage-layout .activeSuggestion {
    background-color: #F1E7C8;
    border: 1px solid #e8d7a5;
    box-shadow: 0 0 10px #e8d7a5;
    padding: 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.chatmore.-fullpage-layout .inactiveSuggestion {
    box-shadow: 0 0 10px #F1E7C8;
    padding: 3px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.chatmore.-fullpage-layout .channel {
    color: #000080;
    font-weight: bold;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.chatmore.-fullpage-layout .nick {
    color: #800000;
    font-weight: bold;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.chatmore.-fullpage-layout .nick:hover, .chatmore.-fullpage-layout .nick:active,
.chatmore.-fullpage-layout .channel:hover, .chatmore.-fullpage-layout .channel:active {
    border: 1px solid #fcf1ba;
    margin: -1px;
    box-shadow: 6px 6px 10px #909090;
}

.chatmore.-fullpage-layout .nick.color0 {
    color: #800000;
}

.chatmore.-fullpage-layout .nick.color1 {
    color: #400080;
}

.chatmore.-fullpage-layout .nick.color2 {
    color: #408000;
}

.chatmore.-fullpage-layout .nick.color3 {
    color: #008080;
}

.chatmore.-fullpage-layout .nick.color4 {
    color: #802a00;
}

.chatmore.-fullpage-layout .nick.color5 {
    color: #008000;
}

.chatmore.-fullpage-layout .nick.color6 {
    color: #804000;
}

.chatmore.-fullpage-layout .nick.color7 {
    color: #004080;
}

.chatmore.-fullpage-layout .nick.color8 {
    color: #800080;
}

.chatmore.-fullpage-layout .nick.color9 {
    color: #00802a;
}

.chatmore.-fullpage-layout .nick.color10 {
    color: #000080;
}

.chatmore.-fullpage-layout .nick.color11 {
    color: #008040;
}

.chatmore.-fullpage-layout .nick.color12 {
    color: #800040;
}

.chatmore.-fullpage-layout .nick.color13 {
    color: #808000;
}

.chatmore.-fullpage-layout .nick.color14 {
    color: #2a0080;
}

.chatmore.-fullpage-layout .nick.color15 {
    color: #404040;
}

.chatmore.-fullpage-layout .nick.color16 {
    color: #a00000;
}

.chatmore.-fullpage-layout .nick.color17 {
    color: #8000a0;
}

.chatmore.-fullpage-layout .nick.color18 {
    color: #80a000;
}

.chatmore.-fullpage-layout .nick.color19 {
    color: #00a0a0;
}

.chatmore.-fullpage-layout .nick.color20 {
    color: #a04c00;
}

.chatmore.-fullpage-layout .nick.color21 {
    color: #00a000;
}

.chatmore.-fullpage-layout .nick.color22 {
    color: #a08000;
}

.chatmore.-fullpage-layout .nick.color23 {
    color: #0080a0;
}

.chatmore.-fullpage-layout .nick.color24 {
    color: #a000a0;
}

.chatmore.-fullpage-layout .nick.color25 {
    color: #00a04a;
}

.chatmore.-fullpage-layout .nick.color26 {
    color: #0000a0;
}

.chatmore.-fullpage-layout .nick.color27 {
    color: #00a080;
}

.chatmore.-fullpage-layout .nick.color28 {
    color: #a00080;
}

.chatmore.-fullpage-layout .nick.color29 {
    color: #a0a000;
}

.chatmore.-fullpage-layout .nick.color30 {
    color: #4a00a0;
}

.chatmore.-fullpage-layout .nick.color31 {
    color: #808080;
}

.chatmore.-fullpage-layout .mode {
    color: #0000ff;
}

.chatmore.-fullpage-layout .sideBar {
    display: inline-block;
    width: 140px;
    padding: 12px 16px;
}

.chatmore.-fullpage-layout .sideBar .channelList {
    overflow: auto;
    white-space: nowrap;
}

.chatmore.-fullpage-layout .sideBar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    clear: both;
}

.chatmore.-fullpage-layout .sideBar ul.channelList > li {
    padding-bottom: 6px;
}

.chatmore.-fullpage-layout .sideBar ul.channelList > li.leaving {
    background-image: url(images/leaving.png);
}

.chatmore.-fullpage-layout .sideBar ul.channelList > li .channel {
    float: left;
}

.chatmore.-fullpage-layout .sideBar .channelList .memberCount {
    float: left;
    padding-left: 6px;
    font-size: 0.80em;
    font-weight: normal;
    color: black;
}

.chatmore.-fullpage-layout .sideBar .channelList .leaveButton {
    float: left;
    width: 16px;
    height: 16px;
    background: transparent url(images/bullet_delete.png) no-repeat left top;
    cursor: pointer;
    margin-left: 6px;
}

.chatmore.-fullpage-layout .sideBar .channelList .leaveButton:hover {
    background-color: #BFBFBF;
}

.chatmore.-fullpage-layout .sideBar ul.memberList {
    padding-left: 16px;
}

.chatmore.-fullpage-layout .sideBar ul.memberList .mode {
    padding-right: 3px;
}

.chatmore.-fullpage-layout .ircConsole .content {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 3px;
    margin: -3px;
}

/* Console line styles */
.chatmore.-fullpage-layout .ircConsole .content .line {
    clear: both;
    padding: 0 0 0 50px;
    text-indent: -50px;
    word-wrap: break-word;
    padding-bottom: 0.1em;
}

.chatmore.-fullpage-layout .ircConsole .content .timestamp {
    color: #404040;
    /*display: block;*/
    float: left;
    width: 55px;
    font: 0.8em monospace;
}

.chatmore.-fullpage-layout .ircConsole .content .msg {
    color: black;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.chatmore.-fullpage-layout .ircConsole .content .prefix {
    font-weight: bold;
}

.chatmore.-fullpage-layout .ircConsole .content .help {
    color: #003030;
}

.chatmore.-fullpage-layout .ircConsole .content .privateMsg,
.chatmore.-fullpage-layout .ircConsole .content .privateNotice {
    box-shadow: 6px 6px 10px #909090;
}

.chatmore.-fullpage-layout .ircConsole .content .privateMsg.outgoing,
.chatmore.-fullpage-layout .ircConsole .content .privateNotice.outgoing {
    background-color: #FFFFC7;
    padding-right: 10px;
    border: 1px solid #ffffb2;
}

.chatmore.-fullpage-layout .ircConsole .content .privateMsg.incoming,
.chatmore.-fullpage-layout .ircConsole .content .privateNotice.incoming {
    background-color: #F1E7C8;
    padding-right: 10px;
    font-weight: bold;
    color: #202020;
    border: 1px solid #ecdfb5;
}

.chatmore.-fullpage-layout .ircConsole .content .privateMsg .prefix,
.chatmore.-fullpage-layout .ircConsole .content .privateNotice .prefix {
    color: black;
}

.chatmore.-fullpage-layout .ircConsole .content .privateMsg.outgoing .prefix {
    padding-left: 30px;
    background: transparent url(images/email_go.png) no-repeat 10px top;
}

.chatmore.-fullpage-layout .ircConsole .content .privateNotice.outgoing .prefix {
    padding-left: 30px;
    background: transparent url(images/note_go.png) no-repeat 10px top;
}

.chatmore.-fullpage-layout .ircConsole .content .outgoing .message {
    font-style: italic;
}

.chatmore.-fullpage-layout .ircConsole .content .line.new .privateMsg.incoming .prefix {
    padding-left: 20px;
    background: transparent url(images/email.png) no-repeat left top;
}

.chatmore.-fullpage-layout .ircConsole .content .privateMsg.incoming .prefix {
    padding-left: 20px;
    background: transparent url(images/email_open.png) no-repeat left top;
}

.chatmore.-fullpage-layout .ircConsole .content .privateNotice.incoming .prefix {
    padding-left: 20px;
    background: transparent url(images/note.png) no-repeat left top;
}

.chatmore.-fullpage-layout .ircConsole .content .nickHighlight {
    background-color: #eaeaf2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.chatmore.-fullpage-layout .ircConsole .content .ERROR .message {
    color: #ff0000;
    font-weight: bold;
}

.chatmore.-fullpage-layout .ircConsole .content .serverMsg .message {
    font-family: monospace;
}

.chatmore.-fullpage-layout .ircConsole .content .clientMsg .message,
.chatmore.-fullpage-layout .ircConsole .content .queryMsg .message {
    font-style: italic;
    color: #008000;
}

.chatmore.-fullpage-layout .ircConsole .content .MODE .modeString {
    font-family: monospace;
}

.chatmore.-fullpage-layout .ircConsole .content .line.new {
    background-color: #FAFFB3;
    opacity: 0.5;
    border-top: 4px solid #F0FF1D;
}

.chatmore.-fullpage-layout .ircConsole .content .line.new + .line.new {
    border-top: 0;
}

.chatmore.-fullpage-layout .ircConsole .content .line.viewed {
    background-color: #FAFFB3;
    border-top: 4px solid #F0FF1D;
}

.chatmore.-fullpage-layout .ircConsole .content .line.viewed + .line.viewed {
    border-top: 0;
}
